
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f9f9f9;
  }
  

  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    background-color: #333;
    color: #fff;
  }
  
  nav li {
    margin-right: 20px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    transition: color 0.2s ease;
  }
  
  nav a:hover {
    color: #ccc;
  }
  

  img[alt="logo"] {
    width: 100px;
    height: 100px;
    margin: 20px;
  }
  
  
  /*.btn1 {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .btn1:hover {
    background-color: #444;
  }*/